<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h2>Q and A</h2>
  <h3>Ask me about Upkept</h3>
  <form action="/api" method="get">
    <input type="text" name="question" placeholder="i.e., What is it?" required />
    <input type="submit" value="Generate an answer" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
