<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />

</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h2>Q and A</h2>
  <h3>Ask me about Upkept</h3>
  <script>
    const url="/api" 
    const method="GET"
    const getAnswer = (e) => {
    const question = document.getElementById('question').value || null;


    if(question) {
      fetch(url + '?question='.concat(question), 
      {
        "headers": { "accept": "application/json"  },
        "referrerPolicy": "strict-origin-when-cross-origin",
        "body": null,
        "method": method,
        "mode": "cors",
        "credentials": "include"
      }).then((response) => response.json())
        .then((data) => {
           document.getElementById('robot').innerHTML = data.joey3;

           document.getElementById('question').innerHTML = data.question;
           document.getElementById('joey3').innerHTML = 'joey #3 says :' + data.joey3;
           document.getElementById('joey4').innerHTML = 'joey #4 says : ' + data.joey4;

           document.getElementById('talks_counter').innerHTML = data.talks
             });
      }
    }
  </script>
  <div class="formdiv">
    <input type="text" name="question" placeholder="i.e., What is it?" required 
    id="question"
    onkeypress="(e) => { if (e.keyCode === 13) { 
      e.preventDefault();
      document.getElementById('submitbutton').focus() } }"

    />
    <input id="submitbutton" 
    type="button" value="Answer my question" 
    onclick="getAnswer();void(0);" />
  </form>

  <div id="question">
  </div>

  <div id="robot" style="display:none;">    
  </div>

<div class="moreRobots">
  <div id="joey3"></div>
    <br/>
  <div id="joey4"></div>
</div>

 <div id="talks_counter"></div>

  <script>
        document.onLoad = getAnswer();
  </script>
</body>
